index.html
{
 "name": "Webhook AI Bug Assistant",
 "nodes": [
   {
     "parameters": {
       "path": "chat",
       "responseMode": "responseNode"
     },
     "type": "n8n-nodes-base.webhook",
     "typeVersion": 2,
     "position": [-600, 0],
     "name": "Webhook"
   },
   {
     "parameters": {
       "values": {
         "string": [
           {
             "name": "input",
             "value": "={{$json.message}}"
           }
         ]
       }
     },
     "type": "n8n-nodes-base.set",
     "typeVersion": 3,
     "position": [-350, 0],
     "name": "Set Input"
   },
   {
     "parameters": {
       "options": {
         "systemMessage": "YOU ALREADY HAVE THIS — KEEP IT SAME"
       }
     },
     "type": "@n8n/n8n-nodes-langchain.agent",
     "typeVersion": 3,
     "position": [-100, 0],
     "name": "AI Agent"
   },
   {
     "parameters": {
       "responseBody": "{ \"reply\": \"{{$json.output}}\" }"
     },
     "type": "n8n-nodes-base.respondToWebhook",
     "typeVersion": 1,
     "position": [150, 0],
     "name": "Respond"
   }
 ],
 "connections": {
   "Webhook": {
     "main": [[{ "node": "Set Input", "type": "main" }]]
   },
   "Set Input": {
     "main": [[{ "node": "AI Agent", "type": "main" }]]
   },
   "AI Agent": {
     "main": [[{ "node": "Respond", "type": "main" }]]
   }
 }
}
